 <body style="background-color: #f3f4f6; padding: 2rem; font-family: Arial, sans-serif; color: #333;">
    <div
        style="max-width: 32rem; margin: 0 auto; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); text-align: center;">
        <img src="https://raw.githubusercontent.com/shadat-hossan/Image-server/refs/heads/main/Ghorbari.png"
            alt="Ghorbari" style="max-width: 10rem; margin-bottom: 1.5rem;">
        <h1 style="font-size: 1.75rem; font-weight: 700; margin-bottom: 1rem; color: #1f2937;">Welcome to Ghorbari
        </h1>
        <p style="color: #4b5563; margin-bottom: 1.5rem;">Thank you for joining Ghorbari! Your account is almost
            ready.</p>
        <div
            style="background: linear-gradient(135deg, #FF6625, #d3541dbf); color: #ffffff; padding: 1rem; border-radius: 0.5rem; font-size: 2rem; font-weight: 800; letter-spacing: 0.1rem; margin-bottom: 1.5rem;">
            ${otp}
        </div>
        <p style="color: #4b5563; margin-bottom: 1.5rem;">Collect this code to verify your account.</p>
        <p style="color: #e6441c; font-size: 0.85rem; margin-top: 1.5rem;">This code expires in <span
                id="timer">3:00</span>
            minutes.</p>
        <a href="https://shadat-hossain.netlify.app" style="color: #888; font-size: 12px; text-decoration: none;"
            target="_blank">ᯤ
            Develop by ᯤ</a>
    </div>